body {
    /* height: 1000vh; */
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 17, 44));
    /* background-image: url(images/hogwartscastle.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

canvas {
    height: 100%;
    width: 100%;
    /* border: solid; */
    border-color: aliceblue;
}

bgvideo {
    display: flex;
    position: absolute;
}

.logo {
    display: flex;
    margin-left: -2rem;
}

.logo img {
    width: 11rem;
    border-radius: 100px;

}

.logo img:hover {
    filter: drop-shadow(0px 0px 8px rgb(251, 255, 0));
    cursor: none;
}

.navigation {
    color: aliceblue;
}

/* #my-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    width: 100%;
    z-index: 1;
} */

.navbar{
    display: flex;
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    background: transparent !important;
}

.navlist {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    background: none;
}

.navlist li {
    padding-inline: 1rem;
}

.navlist a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    font-family: 'Elsie Swash Caps', cursive;
    z-index: 1;
}

.navlist a:hover{
    color: yellow;
    text-shadow: 0 0 11px yellow;
    cursor: none;
    z-index: 1;
}

.searchbar {
    /* width: 27%; */
    border: none;
    outline: none;
}

.search {
    background: none;
    border: none;
    color: aliceblue;
    border-bottom: solid;
    border-width: 1px;
    width: 11rem;
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 1.3rem;
    outline: none;
}

.srchbtn {
    background: none;
    color: aliceblue;
    font-family: 'Elsie Swash Caps', cursive;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    /* border-width: 0.05rem;
    border-radius: 20px; */
    /* padding: 5px 10px; */
    /* align-items: center;
    justify-content: center;
    text-align: center; */
}



.srchbtn:hover {
    color: yellow;
    text-shadow: 0 0 11px yellow;
    cursor: none;
}

.bgeffect {
    display: flex;
    /* position: absolute; */
    scale: 0.2;
    /* margin-top: 1rem; */
    /* border: solid; */
    /* border-color: aliceblue; */
    height: 100%;
    opacity: 70%;
}

.trail {
    width: 1.37px;
    height: 1.37px;
    border-radius: 50px;
    /* border: 0.5px solid rgb(255, 255, 255); */
    filter: drop-shadow(0 0 23px white);
    box-shadow: 0 0 6px rgb(0, 255, 238);
    background: rgb(0, 204, 255);
    position: absolute;
    animation: come 0.37s linear forwards;
}

.trail2 {
    width: 1.37px;
    height: 1.37px;
    border-radius: 50px;
    /* border: 1px solid rgb(255, 255, 255); */
    filter: drop-shadow(0 0 23px white);
    box-shadow: 0 0 6px rgb(0, 242, 255);
    background: rgb(0, 217, 255);
    position: absolute;
    animation: come0 0.37s linear forwards;
}

@keyframes come {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(1) translateX(-20px);
        opacity: 0;
    }
}

@keyframes come0 {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1) translateY(0px);
        opacity: 1  ;
    }
    100% {
        transform: scale(1) translateY(-20px);
        opacity: 0;
    }
}

#sidebar {
    display: flex;
    /* font-family: 'Elsie Swash Caps', cursive; */
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.6rem;
}

#speicesdiv {
    background-image: url("forbidden.webp");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#shead {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2.7rem;
}

#spcscrd {
    border-radius: 6px;
}

/* card flip css */

.thecard{
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thecard:hover{
    transform: rotateY(180deg);
}

.thefront{
    /* width: 100%;
    height: 100%; */
    width: 274px;
    height: 432px; 
    border-radius: 10px;
    /* position: absolute;  */
    backface-visibility: hidden;
}

.theback{
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/* Add to favorite button and more details  */

.ch-btn {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
    font-family: 'Elsie Swash Caps', cursive;
}

.ch-btn:hover{
    color: yellow;
    text-shadow: 0 0 11px yellow;
    cursor: none;
}

/* skeleton */

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0%{
        background: hsl(200, 3%, 17%);
    }
    100%{
        background: hsl(0, 0%, 9%);
    }
}

/* Explore dialog screen div */

.dialog-div{
    font-size: large;
    padding: 0 17%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* Title  */

  .title {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    color: aliceblue;
}

/* font 1 */
.font1{
    font-family: 'Elsie Swash Caps', cursive;
}

.font2{
      font-family: 'Playfair Display', serif;
}

#libvid {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -7.5rem;
    opacity: 0.7;
    z-index: -1;
}

#head01 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 70%;
    /* top: 15rem; */
    color: aliceblue;
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 3rem;
    /* margin-top: -30rem; */
    animation: float 3s ease-out infinite forwards;
}

@keyframes float {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 8px); }
    100%   { transform: translate(0, -0px); }  
}

@keyframes float2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }  
}

#head02 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* height: 40rem; */
    /* top: 20rem; */
    color: aliceblue;
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 2rem; 
    /* margin-top: -10rem; */
}

#head02:hover {
    color: yellow;
    text-shadow: 0 0 11px yellow;
    cursor: none;
}

#fdivp {
    padding: 4rem;
    align-items: center;
}

#fdivp2 {
    background-image: url("/Page03.png");
    background-size: 100%;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 1600px rgb(253, 207, 0);

}

#fdiv {
    display: flex;
    color: aliceblue;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 2rem;
    /* height: 30rem; */
    padding: 4rem;
    border-radius: 10px;
}

#fdiv2 {
    /* width: 50%; */
    align-items: center;
}

#fdivhead {
    text-shadow: 0 0 8px aliceblue;
}

#fpara {
    color: rgb(255, 234, 0);
    text-shadow: 0 0 8px rgb(217, 255, 0);
    font-size: 1.7rem;
    font-family: 'Lancelot', cursive;
}

#spellbook {
    width: 100%;
    scale: 0.9;
    animation: float2 2s ease-out infinite forwards;
}

.maindiv {
    height: 42rem;
    width: 100%;
    /* background-color: aliceblue; */
    /* background: url(/client/wmc/public/Library.mp4); */
}

.reg-div-1 {
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    color: rgb(40, 0, 0);
    text-align: center;
    /* font-family: 'Elsie Swash Caps', cursive; */
    background: none;
    background-image: url(/riddle.png);
    /* background-size: cover; */
    height: 100vh;
    padding: 7rem 10rem;
    align-items: center;
    justify-content: center;
}

#reghead0 {
    opacity: 0;
    font-family: 'Estonia', cursive;
    font-size: 4rem;
    animation: fade-in 7s ease-out 1s forwards;
    /* animation: fade-out 7s ease-out 1s forwards; */
    /* animation-delay: 10s; */
}

.reg-head-1 {
    opacity: 0;
    font-family: 'Estonia', cursive;
    font-size: 4rem;
    animation: fade-in 6.5s ease-out 7s forwards;
    margin-top: 7rem;
    /* animation: fade-out 6.5s ease-out 7s forwards; */
}

.reg-input {
    opacity: 0;
    background: none;
    border: none;
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
    text-align: center;
    outline: none;
    /* border: solid; */
    width: 30rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    animation: fade-in 6.5s ease-out 7s forwards;
    /* animation: fade-out 6.5s ease-out 7s forwards; */
}

.reg-button {
    opacity: 0;
    margin-top: 2rem;
    animation: fade-in 6.5s ease-out 7s forwards;
    /* animation: fade-out 6.5s ease-out 7s forwards; */
    font-family: 'La Belle Aurore', cursive;
    font-size: 2.5rem;
    border: none;
    background: none;
    width: fit-content;
    justify-content: center;
}

.reg-head-2 {
    opacity: 0;
    font-family: 'La Belle Aurore', cursive;
    font-size: 4rem;
    animation: fade-in 6.5s ease-out 7s forwards;
    /* animation: fade-out 6.5s ease-out 7s forwards; */
    /* margin-top: 12rem; */
}

#subbut {
    animation: fade-in 3.5s ease-out 7s forwards;
}

.nbdiv {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-in 3.5s ease-out 7s forwards;
    width: 50%;
    text-align: center;
}

#nbdiv {
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes fade-in {
    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.startbut {
    align-items: center;
    justify-content: center;
}

.textclass {
    color: black;
}

#subbut01 {
    width: 50%;
}

#backbut01 {
    width: 50%;
}

#ddiv {
    height: 30rem;
    color: aliceblue;
}

/* #aboutus { */
    /* display: flex; */
    /* position: absolute; */
    /* justify-content: center;
    align-items: center; */
    /* padding: 4rem; */
    /* background-image: url(castleintro.mp4);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    height: 49.1rem;
    background-repeat: no-repeat;
    background-size: cover; */
/* } */

#ci {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#abthead {
    /* position: absolute; */
    color: aliceblue;
    /* align-items: center; */
    text-align: center;
    font-family: 'Elsie Swash Caps', cursive;
}

#login {
    opacity: 0;
    position: absolute;
    font-family: 'Cinzel Decorative', cursive;
    color: aliceblue;
    /* font-size: 4rem; */
    margin-top: 30rem;
    margin-left: 20rem;
    animation: fade-in 4s ease-in 32s forwards;
}

#register {
    opacity: 0;
    position: absolute;
    font-family: 'Cinzel Decorative', cursive;
    color: aliceblue;
    /* font-size: 4rem; */
    margin-top: 30rem;
    margin-right: 20rem;
    animation: fade-in 4s ease-in 32s forwards;
}

#logdiv {
    /* position: absolute; */
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

#hgl {
    opacity: 0;
    scale: 0.9;
    position: absolute;
    /* height: fit-content; */
    width: 100%;
    margin-top: -110px;
    animation: fade-in 8s ease-in 24s forwards;
}

#charmaindiv {
    background-image: url("library.webp");
    background-size: cover;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

#pnav {
    background-color: black;
    background: none;
    border: none;
    color: aliceblue;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.7rem;
}

#sidebar2 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.7rem; 
}

#phead {
    color: aliceblue;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2.3rem;
}

#cdetails {
    background-image: url("/Page04.png");
    background-size: 100%;
    font-family: 'Cinzel Decorative', cursive;
    /* font-size: 2.3rem; */
}

#cdhead {
    /* background-image: url("/Page04.png");
    background-size: 100%; */
    font-family: 'Cinzel Decorative', cursive;
    /* font-size: 2.3rem; */
}

#comments {
    background: aliceblue;
    opacity: 0.7;
}

#chead {
    font-size: 2rem;
}

#addcbtn {
    background: none;
    border: none;
    font-size: 1.4rem;
}

#addcbtn:hover {
    cursor: pointer;
    text-shadow: 0 0 8px rgb(255, 238, 0);
    color: rgb(255, 234, 0);
}

#sphead {
    color: rgb(255, 231, 35);
    text-shadow: 0 0 8px rgb(255, 229, 35);
}

#spelldiv {
    background-image: url("patronus.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#spellcard {
    width: 18rem;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 0.8rem;
    animation: float 2s ease-out infinite forwards;
}

#spellcard2 {
    background-color: black;
    color: aquamarine;
    font-size: 0.8rem;
}

#timeline {
    background:  aquamarine;
}

#spellhead {
    font-family: 'Cinzel Decorative', cursive;
    /* color: black; */
}

#spdetails {
    background-image: url("/Page05.png");
    background-size: 100%;
    font-family: 'Cinzel Decorative', cursive;
}

#spdhead {
    text-align: center;
}

#spdimg {
    scale: 0.8;
    border-radius: 30px;
    animation: float 2s ease-out infinite forwards;
}

#spdaudio {
    background: black;
}

@media only screen and (max-width: 436px) {

    #spellcard {
        width: 100%;
    }

    #hgl {
        opacity: 0;
        scale: 0.9;
        position: absolute;
        /* height: fit-content; */
        width: 100%;
        margin-top: -65px;
        animation: fade-in 8s ease-in 24s forwards;
    }

    #login {
        position: absolute;
        font-family: 'Cinzel Decorative', cursive;
        color: aliceblue;
        margin-top: 20rem;
        margin-left: 10rem;
    }
    
    #register {
        position: absolute;
        font-family: 'Cinzel Decorative', cursive;
        color: aliceblue;
        margin-top: 20rem;
        margin-right: 10rem;
    }

    #reghead0 {
        opacity: 0;
        font-family: 'Estonia', cursive;
        font-size: 2.5rem;
        width: 20rem;
        animation: fade-in 7s ease-out 1s forwards;
        /* animation: fade-out 7s ease-out 1s forwards; */
        /* animation-delay: 10s; */
    }
    
    .reg-head-1 {
        opacity: 0;
        font-family: 'Estonia', cursive;
        font-size: 2.5rem;
        width: 20rem;
        animation: fade-in 6.5s ease-out 7s forwards;
        margin-top: 7rem;
        /* animation: fade-out 6.5s ease-out 7s forwards; */
    }
    
    .reg-input {
        opacity: 0;
        background: none;
        border: none;
        font-family: 'La Belle Aurore', cursive;
        font-size: 1rem;
        text-align: center;
        outline: none;
        /* border: solid; */
        width: 20rem;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid;
        animation: fade-in 6.5s ease-out 7s forwards;
        /* animation: fade-out 6.5s ease-out 7s forwards; */
    }
    
    .reg-button {
        opacity: 0;
        margin-top: 2rem;
        animation: fade-in 6.5s ease-out 7s forwards;
        /* animation: fade-out 6.5s ease-out 7s forwards; */
        font-family: 'La Belle Aurore', cursive;
        font-size: 1.5rem;
        border: none;
        background: none;
        width: fit-content;
        justify-content: center;
    }
    
    .reg-head-2 {
        opacity: 0;
        font-family: 'La Belle Aurore', cursive;
        font-size: 2.5rem;
        animation: fade-in 6.5s ease-out 7s forwards;
        /* animation: fade-out 6.5s ease-out 7s forwards; */
        /* margin-top: 12rem; */
    }
    
    #subbut {
        animation: fade-in 3.5s ease-out 7s forwards;
    }
}

/* Spells Page Styling */

#mobile-box {
    width: 360px;
  }
  
  .card {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  .card .view {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card h5 a {
    color: #0d47a1;
  }
  
  .card h5 a:hover {
    color: #072f6b;
  }
  
  #pButton {
    float: left;
  }
  
  #timeline {
    width: 90%;
    height: 2px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: aquamarine;
  }
  
  #pButton {
    margin-top: 12px;
    cursor: pointer;
  }
  
  #playhead {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: black;
    cursor: pointer;
  }

  .card-img-top{
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 20rem;
    aspect-ratio: 8/9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
  }
  
  .card{
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.22); 
    overflow: hidden;
  }
  
  .card-img-div{
    overflow: hidden;
  }
  
  .card:hover > .card-img-div > .card-img-top{
    transform: scale(1.1);
  }